###############################################################################
# Configure MySQL database access. You can leave this as-is. The database is
# not accessible from the public internet.
###############################################################################

MYSQL_USER=mysql
MYSQL_PASSWORD=strongpass!word
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=mysql
MYSQL_RANDOM_ROOT_PASSWORD=yes